/* CSS for the test page */

html, body {margin: 0; padding: 0;}

body {
    margin: 32px;
    font-family: sans-serif;
    font-size: 14px;
}

table {
    font: inherit;
}

td {
    padding: 4px 8px;
}

select {
    padding: 4px;
}

button, input::file-selector-button {
    padding: 4px 8px;
}

input[type="file"] {
    padding: 2px;
    min-width: 500px;
    border: 1px solid #ccc;
}

canvas {
    border: 1px solid #ccc;
}

#logContainer {
    min-width: 1000px;
    margin-top: 20px;
    border: 1px solid #ccc;
    background: #eee;
    padding: 8px;
}

#logTitle {
    margin-bottom: 8px;
}

#logOutput {
    background: #333;
    color: #0d0;
    padding: 4px;
    margin: 8px 0px;
    height: 500px;
    overflow-y: auto;
    font-family: 'Courier New', monospace;
    font-size: 12px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

#logControls button {
    margin-right: 8px;
    padding: 4px 8px;
    cursor: pointer;
}

.fileName
{
    padding: 4px 8px;
}

.info { color: #0c0; }
.warn { color: #f90; }
.error { color: #c00; }
