# Publish the JS package
# Install npm and bundle and minify the package using esbuild

name: Bundle and minify

on:
  push:
    branches: [ "master" ]

permissions:
  contents: write

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6

    - name: Use node
      uses: actions/setup-node@v6

    - name: Install dependencies
      run: npm install -g esbuild

    - name: Bundle and minify
      # place file in the pages folder to use on the GitHub pages
      # minify white spaces only, full minify breaks the code
      run: esbuild src/ki_viewer.js --bundle --minify-whitespace --outfile=pages/build/ki_viewer-dev.min.js

    - name: commit and push builded file
      run: |
        git config user.email "build_and_minify@github.com"
        git config user.name "Workflow"
        git config pull.rebase false
        git add pages/build/ki_viewer-dev.min.js
        if ! git diff --cached --quiet; then
          git commit -m "Updated build"
          git pull
          git push
        else
          echo "No changes"
        fi
